<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
     <style>
          .form{
              margin: 12%;
              padding: 0;
              display: flex;
              flex-flow: column;

          }

          input{
              padding: 2%;
              text-align: center;
              text-decoration: none;
          }

          .btn{
              background-color: rgb(21, 170, 163);
          }
     </style>
     <h1>SIGN UP</h1>

     <form action="home.html" method="post" class="form">
         username  <input type="text" name="username" placeholder="username">
         <br>
         Email  <input type="email" name="email" placeholder="email">
         <br>
         password <input type="password" name="password" placeholder="password">
         <br>
         <input type="button" value="create" class="btn">
     </form>

     <a href="/">back</a>
</body>
</html>